* {
  font-family: "Poppins", sans-serif;
}
.btn:focus,
a:focus {
  box-shadow: none;
  outline: 0;
}
.blackColor {
  color: #000 !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fba70b;
}
.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #fba70b;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.bannerBg {
  background: url("../src/Images/banner-bg.png") no-repeat;
  background-size: contain;
  background-position: right top;
  width: 100%;
}
.blackColor {
  color: #000;
}
.carousel h1 {
  font-weight: 700;
}
p {
  color: #7a7a7a;
  line-height: 27px;
  font-weight: 300;
}
.carousel-indicators li {
  background-color: #fba70b;
}
.knowMoreBtn {
  background: #fba70b;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 25px;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.knowMoreBtn:hover {
  background: #f35f5f;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.carousel span {
  color: #fba70b;
}
.carousel-indicators {
  margin-left: 0;
  right: inherit;
}
.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out 0.7s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}
.fixed-top {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.navbarBg {
  background: #fba70b;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #000;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler {
  padding: 0;
  border: none;
  outline: 0;
  margin-right: 7px;
}

.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggler .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}

.navbar-toggler.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.navbar-toggler.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggler.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.scrollLink .nav-link.active {
  color: #000 !important;
}
.textColor {
  color: #f4813f;
}
.testimonialslider {
  background: linear-gradient(-220deg, #f48040, #f15669);
}
.testimonialslider .col-sm-12 {
  padding: 20px;
}
.testimonialslider img {
  width: 130px;
  margin-bottom: 15px;
}
.carousel i {
  font-size: 1.6em;
}
.testimonialCarousel .carousel-control-next:hover,
.testimonialCarousel .carousel-control-prev:hover {
  background: linear-gradient(-220deg, #f48040, #f15669);
  color: #fff;
}
.testimonialCarousel .carousel-control-next,
.testimonialCarousel .carousel-control-prev {
  display: none;
  opacity: 1;
  width: 40px;
  height: 40px;
  top: 45%;
  border: 1px solid #f4813f;
  border-radius: 50%;
  color: #f4813f;
}

.testimonialCarousel .carousel-control-prev {
  left: -100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.testimonialCarousel .carousel-control-next {
  right: -100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.testimonialCarousel:hover .carousel-control-prev {
  left: -10px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.testimonialCarousel:hover .carousel-control-next {
  right: -10px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.testimonialCarousel .carousel-indicators {
  margin: auto;
  right: 0;
}
.testimonialCarousel .carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #f4813f;
}
.fa-star {
  font-size: 14px !important;
  margin-right: 3px;
}
.footerBg {
  background: url("../src/Images/footer-bg.png") no-repeat;
  background-size: cover;
  background-position: center top;
}
.footerBg {
  padding-top: 320px;
  margin-top: 50px;
}
.footerBg p,
.footerBg li {
  font-weight: 300;
}
.footerBg h5 {
  font-weight: 600;
}
.footerBg hr {
  border-top: 1px solid #fff;
}
.aboutBg {
  background: url("../src/Images/statistic.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.aboutBg:before,
.aboutBg .overlay:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;

  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    #fff 13px
  );
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fba93324;
  top: 0px;
  left: 0px;
}
.lineStyle {
  width: 250px;
  border: 0;
  height: 1px;
  position: relative;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    #fba70b 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}
.yellowColor {
  color: #fba70b;
}
.couterSection {
  background: url("../src/Images/statistic.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.couterIcon {
  font-size: 2.3em;
}
.overlay2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #7b757bb0;
  top: 0px;
  left: 0px;
}
.teams h6 {
  color: #aaa;
}
.servicesList {
  box-shadow: 0 1px 6px rgba(61, 65, 84, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;

  -webkit-transition: all 0.3s ease-in-out;
}
.servicesList:hover {
  box-shadow: 0px 15px 30px rgba(61, 65, 84, 0.2);
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.servicesList:before {
  content: "";
  display: block;
  height: 5px;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;

  background-color: #fba70b;
  transition: all 0.2s ease-in-out;
}

.servicesList:hover:before {
  width: 100%;
}
/* bootstrap form icon  */
.form-control.is-valid,
.was-validated .form-control:valid {
  background-position: center right calc(0.375em + 0.1875rem);
}
.form-control.is-valid:focus,
.was-validated :valid.form-control {
  border-color: #ced4da !important;
  background-image: none !important;
  padding-right: 15px !important;
  box-shadow: none !important;
}
textarea:focus,
input:focus,
.btn:focus {
  box-shadow: none !important;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  /*   background-image: none !important; */
  box-shadow: none !important;
}
.loadingIcon {
  margin-left: 10px;
}
.alert-success p {
  color: #155724;
}

@media (max-width: 575px) {
  .footerBg {
    padding-top: 250px;
    margin-top: 0px;
  }
  .navbar-collapse {
    background: #fcd284;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .footerBg {
    padding-top: 200px;
  }
  .bannerBg {
    min-height: 700px;
  }
  .carousel h1 {
    font-size: 3em;
    line-height: 75px;
  }
}

@media (min-width: 768px) {
  .testimonialCarousel .carousel-indicators {
    bottom: 35px;
  }
  .testimonialCarousel .carousel-control-next,
  .testimonialCarousel .carousel-control-prev {
    display: inline-flex;
  }
  .testimonialslider img {
    position: absolute;
    top: -50px;
    left: -50px;
    margin-bottom: 0;
  }
  .testimonialslider .col-sm-12 {
    padding: 55px;
  }
}
@media (min-width: 992px) {
  .footerBg {
    padding-top: 250px;
  }
}

@media (min-width: 1200px) {
  .footerBg {
    padding-top: 320px;
  }
}
